.ellipsis {
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.root {
  display: flex;
}

.gobackbutton {
	justify-content: center;
  margin-top: 150px;
  display: flex;
}

.card:hover{
  transform: scale(1.15);
  box-shadow: 0 30px 30px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.readmorelink {
  text-decoration: none;
}

.readmorebtn {
  background: rgb(177,76,210);
  background: linear-gradient(90deg, rgba(177,76,210,0.4514180672268907) 0%, rgba(127,144,48,1) 100%);
}

.readmorebtn:hover{
  transform: scale(1.07);
  box-shadow: 0 30px 30px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.gobackbtn {
  background: rgb(177,76,210);
  background: linear-gradient(90deg, rgba(177,76,210,0.4514180672268907) 0%, rgba(127,144,48,1) 100%);
}

.gobackbtn:hover{
  transform: scale(1.07);
  box-shadow: 0 30px 30px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardactionsgobackbtn {
  margin-bottom: 15px;
}

/* Header styles */

.text {
  font-weight: 700;
  color: #8b8d2e;
  text-shadow: 1px 1px 1px #87a72f,
      1px 2px 1px #545a1a,
      1px 3px 1px #545a1a,
      1px 4px 1px #545a1a,
      1px 5px 1px #545a1a,
      1px 6px 1px #545a1a,
      1px 7px 1px #545a1a,
      1px 8px 1px #545a1a,
      1px 9px 1px #545a1a,
      1px 10px 1px #545a1a,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

/* Search-bar styles */

.search {
  width: 50%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #a09607;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #a09607;
}

.searchTerm:focus{
  color: #000000;
  font-size: large;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #a09607;
  background: #a09607;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
}
